{% extends "base.html" %}

{% block content %}

{% block navbar %}
    {% include 'machtrade/pages/components/DASHBOARD_navbar.html' %}
{% endblock navbar %}


{% block loginform %}
<div class="container container-sm">
    <img src="https://media.giphy.com/media/ORUfxy9ElFbPIi2K1K/giphy.gif" style="width: 10rem; height: auto;">
    <form method="post" class="form-group">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-dark">Login</button> |
        <a href="{% url 'register' %}">Register</a>
    </form>
</div>

{% endblock loginform %}

{% endblock %}