{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% block navbar %}
    {% include '../app1/pages/components/DASHBOARD_navbar.html' %}
{% endblock navbar %}

{% block registerform %}
    <div class="container container-sm">
        <img src="https://media.giphy.com/media/ORUfxy9ElFbPIi2K1K/giphy.gif" style="width: 10rem; height: auto;">
        <form method="POST">
                {% csrf_token %}
                    {{ form|crispy }}
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </form>
    </div>
{% endblock registerform %}

{% endblock %}


