{% extends "base.html" %}
    {% block content %}

    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="password1" placeholder="Password"><br>
        <input type="text" name="password2" placeholder="Confirm Password"><br>
        
    </form>

{% endblock %}


