{% extends "base.html" %} 
{% load plotly_dash %} 

{% block content %} 

{% if user.is_authenticated %} 

{% block navbar %} 
    {% include './components/DASHBOARD_navbar.html' %} 
{% endblock navbar %}

<div class="container">
  {% block btc_exchange_rate %}
    {% include "./components/btc_exchange_rate.html" %}
  {% endblock btc_exchange_rate %}
</div>

{% block cryptotable %}
<div class="container">
    {% plotly_direct name="crypto-quotes" %}
</div>
{% endblock cryptotable %}

{% block sidebar %}
    {% include './components/user_info.html' %}
{% endblock sidebar %}

{% else %} 

{% block login_message %}
<div class="container">
    <p>
        Please <a href="{% url 'login' %}" class="">Login </a>to view this content
    </p>
</div>
{% endblock login_message %}

 {% endif %} 

 {% endblock %}

