{% extends "base.html" %} 
{% load plotly_dash %}

{% block content %}
{% if user.is_authenticated %}


{% block navbar %}
    {% include './components/DASHBOARD_navbar.html' %}
{% endblock navbar %}

{% block cryptotable %}
<div class="container">
    {% plotly_direct name="crypto-quotes" %}
</div>
{% endblock cryptotable %}

{% else %}
    {% block login_message %}
    <div class="container">
        <p class="">Please <a href="{% url 'login' %}" class="">Login </a>to view this content</p>
    </div>
    {% endblock login_message %}
{% endif %}

{% endblock %}
