{% extends "base.html" %} 
{% load plotly_dash %} 


{% block content %} 

{% if user.is_authenticated %} 

{% block navbar %} 
{% include './components/DASHBOARD_navbar.html' %} 
{% endblock navbar %}

{% block account_table %}
<div style="margin-top: 1rem;">
{% include './components/Account_table.html' %}
</div>
{% endblock account_table %}


{% else %}

<div class="container">
  {% block login_message %}
  <p class="">
    Please <a href="{% url 'login' %}" class="">Login </a>to view this content
  </p>
  {% endblock login_message %}
</div>

{% endif %}

{% endblock %}
