{% extends "base.html" %} 
{% load plotly_dash %} 


{% block content %} 

{% if user.is_authenticated %} 

<!-- NavBar -->
{% block navbar %} 
{% include './components/DASHBOARD_navbar.html' %} 
{% endblock navbar %}

<div class="container-fluid">
<!-- BTC Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody class="text-left">
    {% for key,value in symbol.DISPLAY.items %}
    <tr>
      <td class="font-weight-bold text-center">{{key}}</td>
      <td class="font-weight-bold text-center">{{value.USD.PRICE}}</td>
      <td>{{value.USD.HIGHDAY}}</td>
      <td>{{value.USD.LOWDAY}}</td>
      <td>{{value.USD.MKTCAP}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- Portfolio Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">BTC (BTC Avaliable to Trade)</th>
      <th scope="col">USD (CASH Available to Trade)</th>
      <th scope="col">Portfolio (Total USD Estimated Value)</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td>
        <h1>
        {{bitcoin_balance}} BTC
        </h1>
      </td>
      <td class="text-center">
        <h1>
          ${{usd_balance}}
        </h1>
      </td>
      <td class="font-weight-bold text-center">
        <h1>
          <strong>
            ${{portfolio_balance}}
          </strong>
        </h1>
      </td>
    </tr>
    <tr>
      <td class='text-right'>
        <strong>
          {{bitcoin_balance}} BTC
        </strong> / ${{user_btc_balance}}
      </td>
      <td>
        <!-- Buy/Sell Transactions -->
        <form class="form-inline" method="POST" action="{% url 'dashboard' %}">
          <div class="form-group mx-sm-3 mb-2">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <select name="BUY_SELL" class="buy-sell form-control">
                  <option value="BUY">BUY</option>
                  <option value="SELL">SELL</option>
                </select>
              </div>
              <input
              type=number 
              step=0.01 
              required="required"
              placeholder="BTC Amount..."
              aria-label="Search"
              name="BUY_BTC"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary">
                Submit
              </button>
            </div>
            </div>
          </div>
        </form>
      </td>
      <td><div class='container' style="color:red"><p>{{error}}<p></div></td>
    </tr>
  </tbody>
</table>


<!-- Transaction History Table (Foreign Key) -->
<div class="table-responsive-sm">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Date</th>
        <th scope="col">Symbol</th>
        <th scope="col">BTC Price (USD)</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total (USD)</th>
      </tr>
    </thead>
    {% for transactions in transaction.all %}
    <tbody class="text-center">
      <tr>
        <td class="font-weight-bold">
          {{transactions.user}}
        </td>
        <td class="font-weight-bold">
          {{transactions.transaction_date}}
        </td>
        <td class="font-weight-bold">
          BTC
        </td>
        <td class="font-weight-bold">
          ${{transactions.transaction_usd_price}}
        </td>
        <td class="font-weight-bold">
          {{transactions.transaction_type}}
        </td>
  
        <td class="font-weight-bold">
          {{transactions.transaction_btc_quantity}}
        </td>
  
        <td class="font-weight-bold">
          ${{transactions.transaction_total_usd_price}}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

</div>
{% else %}

<!-- User Authentication Message -->
<div class="container">
  {% block login_message %}
  <p>Please <a href="{% url 'login' %}" class="">Login </a>to view this content</p>
  {% endblock login_message %}
</div>

{% endif %}

{% endblock %}
