{% extends "base.html" %} 
{% load plotly_dash %} 


{% block content %} 

{% if user.is_authenticated %} 

{% block navbar %} 
{% include './components/DASHBOARD_navbar.html' %} 
{% endblock navbar %}


<!-- Portfolio Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th
       scope="col">Portfolio Balance (USD Value)</th>
       <th scope="col">Portfolio Bitcoin Value (BTC / USD)</th>
      <th scope="col">Portfolio USD Balance (CASH)</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td class="font-weight-bold">$ {{portfolio_balance}}</td>
      <td class="">
        <strong>{{bitcoin_balance}} BTC</strong> / ${{user_btc_balance}}
      </td>
      <td class="font-weight-bold">$ {{usd_balance}}</td>
    </tr>
  </tbody>
</table>


<!-- Time Series Chart -->
{% block cryptotable %} 
  {% plotly_direct name="crypto-chart2" %}
{% endblock cryptotable %}


<!-- BTC Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
    {% for key,value in symbol.DISPLAY.items %}
    <tr>
      <td class="font-weight-bold">{{key}}</td>
      <td class="font-weight-bold">{{value.USD.PRICE}}</td>
      <td>{{value.USD.HIGHDAY}}</td>
      <td>{{value.USD.LOWDAY}}</td>
      <td>{{value.USD.MKTCAP}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- Buy Transactions -->
<div class="row" style="margin-top: 1rem;">
  <div class="col">
    <form class="form-inline" method="POST" action="{% url 'dashboard' %}">
      <div class="form-group mx-sm-3 mb-2">
        {% csrf_token %}
        <select name="buy_sell" class="buy-sell">
          <option value="buy">BUY</option>
          <option value="sell">SELL</option>
        </select>
        <input
          type="number"
          required="required"
          class="form-control"
          placeholder="BUY/SELL Amount..."
          aria-label="Search"
          name="buy_BTC"
        />
      </div>
      <button type="submit" class="btn btn-outline-secondary mb-2">
        Submit
      </button>
      <div style="color:red">{{error}}</div>
    </form>
  </div>
</div>


<!-- Transaction Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Transaction Date</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">BTC Price (USD)</th>
      <th scope="col">Total (USD)</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td class="font-weight-bold">
        {{date}}
      </td>
      <td class="font-weight-bold">
        {{transaction_type}}
      </td>
      <td class="font-weight-bold">
        {{buy_BTC}}
      </td>
      <td class="font-weight-bold">
        {{exchange_rate}}
      </td>
      <td class="font-weight-bold">
        {{usd_value}}
      </td>
    </tr>
  </tbody>
</table>


{% else %}

<div class="container">
  {% block login_message %}
  <p class="">
    Please <a href="{% url 'login' %}" class="">Login </a>to view this content
  </p>
  {% endblock login_message %}
</div>

{% endif %}

{% endblock %}
