{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}

<!-- Dashboard Navbar -->
{% block navbar %}
    {% include './components/DASHBOARD_navbar.html' %}
{% endblock navbar %}

<!-- Jumbotron -->
{% block login_message %}
<div class="jumbotron jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-3">MACH TRADE</h1>
        <p class="lead">Please <a href="{% url 'login' %}">Login</a>  |  or <a href="{% url 'register' %}">Register</a>
    </div>
</div>
{% endblock login_message %}

<div class="container">
    <div class="row justify-content-center">
        <img src="https://media.giphy.com/media/ORUfxy9ElFbPIi2K1K/giphy.gif" style="width: 15rem; height: auto;">
    </div>
</div>
{% endblock %}
