{% extends "base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method="post" action="#">
    {% csrf_token %}
    <button type="submit", name="newItem", value="newItem">Add Item</button>	
    <input type="text", name="new">
    <button type="submit", name="save", value="save">Save</button>
        <ul>
            {% for item in ls.item_set.all %}
                {% if item.complete == True %}
                    <li><input type="checkbox", value="clicked", name="c{{item.id}}" checked>{{item.text}}</li>
                {% else %}
                    <li><input type="checkbox", value="clicked", name="c{{item.id}}">{{item.text}}</li>
                {% endif %}
            {% endfor %}
        </ul>

    </form>
{% endblock %}