{% extends "base.html" %}
{% load plotly_dash %}

{% block content %}
{% if user.is_authenticated %}

{% block navbar %}
    {% include './components/DASHBOARD_navbar.html' %}
{% endblock navbar %}


<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Price</th>
        <th scope="col">24hr High</th>
        <th scope="col">24hr Low</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead> 

    <tbody>

    {% for key,value in symbol.DISPLAY.items %}

      <tr>
        <td>{{key}}</td>
        <td>{{value.USD.PRICE}}</td>
        <td>{{value.USD.HIGHDAY}}</td>
        <td>{{value.USD.LOWDAY}}</td>
        <td>{{value.USD.MKTCAP}}</td>
      </tr>

    {% endfor %}

    </tbody>
  </table>





{% else %}
<div class="container">
    {% block login_message %}
    <p class="">Please <a href="{% url 'login' %}" class="">Login </a>to view this content</p>
    {% endblock login_message %}
</div>
{% endif %}


{% endblock %}