{% extends "base.html" %}
{% load plotly_dash %}

{% block content %}

{% if user.is_authenticated %}

{% block navbar %}
    {% include './components/DASHBOARD_navbar.html' %}
{% endblock navbar %}


<!-- Crypto Symbol Search -->
{% block symbol_search %}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead> 
  <tbody>
  {% for key,value in crypto.DISPLAY.items %}
    <tr>
      <td>{{key}}</td>
      <td>{{value.USD.PRICE}}</td>
      <td>{{value.USD.HIGHDAY}}</td>
      <td>{{value.USD.LOWDAY}}</td>
      <td>{{value.USD.MKTCAP}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="row" style="margin-top: 1rem;">
  <div class="col">
      <form class="form-inline" method="POST" action="{% url 'quotes' %}">
          <div class="form-group mx-sm-3 mb-2">
              {% csrf_token %}
              <input type="search" class="form-control" placeholder="Enter symbols..." aria-label="Search" name="quote">
          </div>
          <button type="submit" class="btn btn-outline-secondary mb-2">Submit</button>
      </form>
  </div>
</div>
{% endblock symbol_search %}

{% block cryptotable %} 
  {% plotly_direct name="crypto-chart2" %}
{% endblock cryptotable %}

<!-- Multi Symbol Table -->
{% block multi_symbol %}
<table class="table table-striped table-bordered table-hover">
<thead>
  <tr>
    <th scope="col">Currency</th>
    <th scope="col">Price</th>
    <th scope="col">24hr High</th>
    <th scope="col">24hr Low</th>
    <th scope="col">Market Cap</th>
  </tr>
</thead> 
<tbody>
{% for key,value in mc_symbol.DISPLAY.items %}
  <tr>
    <td>{{key}}</td>
    <td>{{value.USD.PRICE}}</td>
    <td>{{value.USD.HIGHDAY}}</td>
    <td>{{value.USD.LOWDAY}}</td>
    <td>{{value.USD.MKTCAP}}</td>
  </tr>
{% endfor %}
{% endblock multi_symbol %}

{% else %}

<div class="container">
    {% block login_message %}
    <p class="">Please <a href="{% url 'login' %}" class="">Login </a>to view this content</p>
    {% endblock login_message %}
</div>

{% endif %}


{% endblock %}