{% extends "base.html" %}
{% load plotly_dash %}

{% block content %}

{% if user.is_authenticated %}

<!-- Dashboard Navbar -->
{% block navbar %}
    {% include './components/DASHBOARD_navbar.html' %}
{% endblock navbar %}

<div class="container" style="background-color: white;">
<!-- Crypto Symbol Search -->
{% block symbol_search %}
<div class="table-responsive-sm">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Price</th>
        <th scope="col">24hr High</th>
        <th scope="col">24hr Low</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead> 
    <tbody>
    {% for key,value in crypto.DISPLAY.items %}
      <tr>
        <td class="font-weight-bold">{{key}}</td>
        <td class="font-weight-bold">{{value.USD.PRICE}}</td>
        <td>{{value.USD.HIGHDAY}}</td>
        <td>{{value.USD.LOWDAY}}</td>
        <td>{{value.USD.MKTCAP}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock symbol_search %}

{{error}}
<!-- User input -->
{% block input %}
<div class="row">
  <div class="col">
      <form class="form-inline" 
      method="POST" 
      action="{% url 'quotes' %}" 
      style='display:flex; justify-content:flex-start'
      >
        <div class="form-group mx-sm-3 mb-2"></div>
          {% csrf_token %}
          <div class="input-group input-group-sm">
            <select 
            class="custom-select form-control" 
            id="inputGroupSelect" 
            name="quote"                
            >
              <option selected value="BTC">Choose Currency...</option>
              <option value="BTC">BTC</option>
              <option value="ETH">ETH</option>
              <option value="DASH">DASH</option>
              <option value="LTC">LTC</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </div>
{% endblock input %}

<!-- Time Series Chart -->
{% block cryptotable %} 
{% plotly_direct name="crypto-chart2" %}
{% endblock cryptotable %}

<!-- Multi Symbol Table -->
{% block multi_symbol %}
<div class="table-responsive-sm">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Price</th>
        <th scope="col">24hr High</th>
        <th scope="col">24hr Low</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead> 
    <tbody>
    {% for key,value in mc_symbol.DISPLAY.items %}
      <tr>
        <td>{{key}}</td>
        <td>{{value.USD.PRICE}}</td>
        <td>{{value.USD.HIGHDAY}}</td>
        <td>{{value.USD.LOWDAY}}</td>
        <td>{{value.USD.MKTCAP}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock multi_symbol %}
</div>

{% else %}
<!-- Login Message -->
<div class="container">
    {% block login_message %}
    <p class="">Please <a href="{% url 'login' %}" class="">Login </a>to view this content</p>
    {% endblock login_message %}
</div>
{% endif %}


{% endblock %}