{% extends "base.html" %} 
{% block content %} 

{% if user.is_authenticated %} 

{% block navbar %} 
{% include './components/DASHBOARD_navbar.html' %} 
{% endblock navbar %}

<!-- Portfolio Table -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Portfolio Balance (USD)</th>
      <th scope="col">Portfolio USD Balance (CASH)</th>
      <th scope="col">Portfolio Bitcoin Value (BTC / USD)</th>
      <th scope="col">BTC/USD Exchange Rate</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
        <td class="font-weight-bold">$ {{portfolio_balance}}</td>
        <td class="font-weight-bold">$ {{usd_balance}}</td>
        <td class="font-weight-bold">{{user.account.bitcoin_balance}} BTC / $ {{user_btc_balance}}</td>
        <td class="font-weight-bold">1 BTC = ${{bitcoin_price.USD}}</td>
    </tr>
  </tbody>
</table>


<!-- Buy Transactions -->
<div class="row" style="margin-top: 1rem;">
  <div class="col">
    <form class="form-inline" method="POST" action="{% url 'test_page' %}">
      <div class="form-group mx-sm-3 mb-2">
        {% csrf_token %}
        <input
          type="number"
          required="required"
          class="form-control"
          placeholder="BUY/SELL Amount..."
          aria-label="Search"
          name="buy_BTC"
        />
      </div>
      <button type="submit" class="btn btn-outline-secondary mb-2">
        Submit
      </button>
    </form>
  </div>
</div>

<!-- Portfolio Table -->
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
        <th scope="col">Transaction Date</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">BTC Price (USD)</th>
        <th scope="col">Total (USD)</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td class="font-weight-bold">
                {{date}}
            </td>
            <td class="font-weight-bold">
                {{transaction_type}}
            </td>
            <td class="font-weight-bold">
                {{buy_BTC}}
            </td>
            <td class="font-weight-bold">
                {{exchange_rate}}
            </td>
            <td class="font-weight-bold">
                {{usd_value}}
            </td>
        </tr>
    </tbody>
</table>


{% else %}

<div class="container">
  {% block login_message %}
  <p class="">
    Please <a href="{% url 'login' %}" class="">Login </a>to view this content
  
  {% endblock login_message %}
</div>

{% endif %} {% endblock %}
