{% load plotly_dash %}
{% load tz %}

{% block account_table %}

<div class="container">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">BTC/USD Exchange Rate</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td class="font-weight-bold">
          <h3>1 BTC = $8302.26 USD</h3>
        </td>
      </tr>
    </tbody>
  </table>

  {% block cryptotable %}
    {% plotly_direct name="crypto-quotes" %}
  {% endblock cryptotable %}

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Portfolio Balance</th>
        <th scope="col">USD Balance</th>
        <th scope="col">BTC Balance</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td class="font-weight-bold">
          <h5>${{user.account.account_balance}}</h5>
        </td>
        <td>$10572.00 USD </td>
        <td>BTC / USD</td>
      </tr>
    </tbody>
  </table>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"
        >  Transactions - BTC
      </label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>  ...Choose - Buy / Sell - BTC</option>
      <option value="1">  Buy - BTC</option>
      <option value="2">  Sell - BTC</option>
    </select>
    <div class="w-100"></div>

    <div class="input-group-prepend">
      <span class="input-group-text">Amount</span>
      <span class="input-group-text">$ USD</span>
    </div>

    <input
      type="text"
      class="form-control"
      aria-label="Dollar amount (with dot and two decimal places)"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" id="button-addon2">
        Submit
      </button>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Transaction History</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody class="text-right">
      <tr>
        <td>{{user.account.transaction_date}}</td>
        <td>Buy</td>
        <td class="text-center">$ {{user.account.transaction_amount}}</td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}

