<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">
      Transactions - BTC
    </label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected> ...Choose - Buy / Sell - BTC</option>
    <option value="1"> Buy - BTC</option>
    <option value="2"> Sell - BTC</option>
  </select>
  <div class="w-100"></div>

  <div class="input-group-prepend">
    <span class="input-group-text">Amount</span>
    <span class="input-group-text">$ USD</span>
  </div>

  <input
    type="text"
    class="form-control"
    aria-label="Dollar amount (with dot and two decimal places)"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="submit" id="button-addon2">
      Submit
    </button>
  </div>
</div>

<!--
<table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Transaction History</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody class="text-right">
      <tr>
        <td>{{user.account.transaction_date}}</td>
        <td>{{user.account.transaction_type}}</td>
        <td class="text-center">$ {{user.account.transaction_amount}}</td>
      </tr>
    </tbody>
  </table>
-->

