<div class="container">
    <div class="home">
        <div class="card">
            <div class="card-header">Account Profile:  </div>
                <div class="card-body b4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Username:   {{user.username}}</li>
                        <li class="list-group-item">Email:      {{user.email}}</li>
                        <li class="list-group-item">Account Created: {{user.date_joined}} </li>
                        <li class="list-group-item">Last Login: {{user.last_login}}</li>
                    </ul>
                    <div class="card-footer" style="text-align: right;">
                        <a href="#" class="card-link">Update Profile</a>
                        <a href="{% url 'password_change' %}" class="card-link">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

