{% block content %}

<header>

  {% if user.is_authenticated %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MACH TRADE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link home" href="{% url 'dashboard' %}"
            >Trade<span class="sr-only">(current)</span></a
          >
        </li>
        <li>
          <a class="nav-link" href="{% url 'account' %}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link About" href="{% url 'quotes' %}"
          >Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link Stock-Quotes" href="{% url 'crypto_news' %}"
          >News</a>
        </li>
        <li>
          <a class="nav-link Logout" href="{% url 'logout' %}"
          >Logout</a>
          </li>
      </ul>
      <span class="navbar-text">
        {{user.username}}  |  DASHBOARD
      </span>
    </div>
  </nav>

  {% else %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MACH TRADE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link home" href="{% url 'home' %}"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li>
          <a class="nav-link" href="{% url 'login' %}"
          >Login</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'register' %}"
          >Register</a>
        </li>
      </ul>
      <span class="navbar-text">
       DASHBOARD
      </span>
    </div>
  </nav>

  {% endif %}

</header>

{% endblock %}
